

<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">
    <%= link_to 'Create Task', todos_new_path, class:"btn btn-lg btn-success"  %>
    <br>
    <br>
  </div>
</div>

  <% @todos.each do |ele| %>

  <div class="well tasks container">

      <div class="row">

          <div class="col-md-10">
            <div class="container">

              <h2> ToDo #<%= ele.id %> </h2>
              <h3> <%= ele.description %> </h3>
              <p> Completed? : <%= ele.completed.to_s %> </p>
            </div>

          </div>

          <div class="col-md-2">
            <p> <%= link_to 'Completed', complete_path(ele), class:"btn btn-warning" %> </p>
            <p> <%= link_to 'Show Task', ele, class:"btn btn-primary"  %> </p>
            <p> <%= link_to 'Delete Task', ele, method: :delete, class:"btn btn-danger" %> </p>
          </div>



        <br>

      </div>
  </div>

  <% end  %>
