<div class="row">

  <div class="col-md-6">

    <% @todos.each do |ele| %>

      <% if ele.completed %>
        <h3> <%= ele.id %> </h3>
        <h4> <%= ele.description %> </h4>
        <p> <%= ele.completed %> </p>
        <br>
        <br>
      <% end  %>

    <% end  %>

  </div>

  <div class="col-md-6">

    <% @todos.each do |ele| %>

      <% if !(ele.completed) %>
        <h3> <%= ele.id %> </h3>
        <h4> <%= ele.description %> </h4>
        <p> <%= ele.completed %> </p>
        <br>
        <br>
      <% end  %>

    <% end  %>

  </div>

</div>
